.book-header {
  flex-basis: 25%;
  /* background-color: blueviolet; */

}

.book-header>* {
  overflow: hidden;
  max-height: 8rem;
  -webkit-box-orient: vertical;
  display: block;
  display: -webkit-box;
  overflow: hidden !important;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  margin-bottom: 0;
  text-align: center;
}

a {
  text-decoration: none;
  display: inline-block;
}